# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# macOS system files
.DS_Store

# VSCode settings
.vscode/

# Database / local files
*.db
*.sqlite3

# Logs
*.log

# Test/cache folders
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env
.env.*
!.env.example